*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(234, 241, 240);
    overflow-x: hidden;
}

.bgcolor.scrolled{
    background-color: rgba(0, 0, 0, 0.692);
    transition: 1s;
    
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* margin: auto; */
    padding: 20px 120px;
    z-index: 2000;
      
}
nav .logo a{
    
    text-decoration: none;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 600;
}
nav .log{
    color: #ffffff;
}
nav .logg{
    color: #31d493;
}
nav form{
    display: flex;
    height: 40px;
    width: 330px;
}
nav form input{
    width: 90%;
    border-radius: 0 20px 20px 0;
    padding: 12px;
    /* font-size: 1.6rem ; */
    /* border: 1px solid #d3d3d3; */
    border: none;
}
nav form input:focus{
    outline-color: rgb(168, 173, 173);
}
nav form button{
    /* border:none; */
    width: 50px;
    border: 1px  #d3d3d3;
    border-radius: 20px 0px 0px 20px;
    padding-top: 3px;
    background-color: #f8f8f8;
    cursor: pointer;
    color: rgb(134, 148, 145);
    
}
nav form button:focus{
    outline-color: rgb(168, 173, 173);
    color: rgb(106, 117, 115);
    

}
nav ul li{
    display: inline-block;
    padding-top: 15px;
    margin: 0px 10px;
}
nav ul li a{
    color: #ffffff;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;
    /* font-weight:500; */
}
#navbar a.active{
    color: #31d493;
    
}
nav ul li a:hover{
    text-decoration: none;
    color: #31d493;

}
nav .logo{
    text-decoration: none;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.topnav ul li .icon {
    display: none;
  }
  /* -------------backtotop-------- */
#backtotop{
    width: 50px;
    height: 50px;
    background-color: rgba(128, 128, 128, 0.445);
    color: #ffffff;
    border-radius: 50px;
    position:fixed;
    bottom: 35px;
    right: 10px;
    cursor: pointer;
   display: none;
   border: none;
   z-index: 1;
}
#backtotop:hover{
    background-color: #31d493;
}
#backtotop:focus{
    outline: none;
}
/* ----------------------------------------------- */
.forget{
    width: 50%;
    height: 350px;
    margin-top: 120px;
    position:relative;
    transform: translate(-50%,-50%);
    top: 200px;
    left: 50%; 
    border-radius: 2%;
    box-shadow: 0 0 40px rgba(98, 105, 102, 0.6);
    padding: 0px 50px;
    letter-spacing: 1px;
    
}
.forget h2{
    position: relative;
    top: 20px;
    color: #31d493;
}
.forget h3{
    position: relative;
    top: 35px;
    color: rgba(0, 0, 0, 0.384);
}
  input{
    height: 50px; 
    position: relative;
    top: 30px;
}
.btn{
   position: relative;
   bottom: 40px;
   left: 500px;
   width: 10%;
    height: 40px;
    background-color: #31d493;;
    color:#ffffff;
    margin: 0px 25%;
    padding: 3px 0;
    font-size: 20px;
    border-radius: 9px;
    cursor: pointer;
} 
.btn:hover{
    background-color: #31d49369;

}

/* --------------------footer------------ */
footer{
    width:100%;
   
}
.main-footer {
    width: 1000px;
    padding: 10px 0px 0px 50px;
    /* background-color: white; */
}
.single-widget{
    width: 300px;

    height: 270px;
    
}
#desc{
    position: relative;
    top: 20px;
}
ul {
    text-decoration: none;
    list-style-type: none;
}

.footer-social {
 
}
.footer-social a {
   
    font-size: 18px;

}
footer .logo a{
    
    text-decoration: none;
    font-size: 44px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 600;
    /* position: relative; */
    /* left: 60px; */
    /* top: 40px; */
}
footer .log{
    color: #31d493;
}
footer .logg{
    color: #31d493;
}

#first{
    position: relative;
    left: 250px;
}
#second{
    position: relative;
    left: 250px;
}
#two{
    width: 500px;
    display: flex;
    justify-content: space-between;
}
.footer-logo p {
    font-size: 18px;
    width: 300px;
    height: 60px;
    color: #666666;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.single-widget h3{
    font-size: 18px;
    font-family: "Roboto";
    color: rgb(51, 51, 51);
    line-height: 1.4;
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
    position: relative;
    right: 0px;
}
  /* .single-widget p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
  } */
  
  .single-widget p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    /* line-height: 1.7; */
    color: #666666;
  }

  .lock{
    font-weight: bold;
    border-bottom: 2px solid #31d493;
    width: 40px;
    height: 3px;
    margin-bottom: 10px;
  
  }
  
  
.single-widget-description {
    font-family: 'Poppins';
    font-size: 14px;
    line-height: 1;
    color: #666666;
  }
  
  .footer-section .footer-icon {
    width: 25px;
    height: 25px;
    border-radius: 10px solid #31d493;
    border: 2px solid #31d493;
    border-radius: 15px;
    text-align: center;
  } 
  
  .footer-section .footer-icon::after{
    content: ' \25CF';
    font-size: 10px;
    text-align: center;
    justify-content: center;
    width: 2px;
    height: 2px;
    margin-top: 0px;
    padding-top: 0px;
    color:#31d493;
  }
  li.footer-section{
    margin-bottom: 0px;
  }
  
  li.footer-section a:hover p,
  li.footer-section a:focus p{
    color: #31d493;
    text-decoration: none;
  }
  
  /*
  * ==========================================
  * FOOTER END
  * ==========================================
  */

@media screen and (max-width: 1000px) {
        .topnav ul li a{
            display: none;
        }
        .topnav ul li a.icon {
          float: right;
          display: block;
          position: fixed;
          right: 50px;
          top: 40px;
        
        }
        .topnav.responsive {position: relative;
        }
        .topnav.responsive ul li .icon {
          position: fixed;
          right: 50px;
          top: 40px;
        }
        .topnav.responsive ul li a {
          float: left;
          display: block;
          text-align: sleft;
        }
        .topnav.responsive ul li{
            display: block;
        }
        nav .logo  {
            display: inline;
            width: 350px;
            position: relative;
            right: 20px;
        } 
        nav .logo a{
            font-size: 25px;
    
        }
        .forget{
            width: 90%;
            height: 400px;
            margin-top: 120px;
            position:relative;
           
            top: 200px;
            left: 50%; 
         
            
        }
     
        
        .btn{
           position: relative;
           bottom: 100px;
           left: 158px;
           width: 30%;
            height: 40px;
            background-color: #31d493;;
            color:#ffffff;
            margin: 0px 25%;
            padding: 3px 0;
            font-size: 20px;
            border-radius: 9px;
            cursor: pointer;
        } 
        .btn:hover{
            background-color: #31d49369;
        
        }




        /* ------footer------------- */
.main-footer {
    width: 100%;
    padding: auto;
    height: 800px;
  
  }
  
  #desc{
    position: relative;
    top: 140px;
    
    width: 90%;
  
    /* background-color: #31d493; */
    height: 200px;
    margin: auto;
    padding: auto;
   
  }
  .footer-logo p {
    width: 100%;
    height: 100%;
    display: block;
    /* height: 60px; */
  
  }
  #first{
    position: relative;
    left: 0px;
   
  }
  #second{
    position: relative;
    left: 0px;
  }
  #two{
    width: 90%;
    /* background-color: red; */
    height: 400px;
    margin:0px auto;
    position: relative;
    bottom: -200px;
  
  
  }
  
  .single-widget{
    width: 100%;
  }
  
  .footer-section .footer-icon {
    width: 25px;
    height: 25px;
    border-radius: 10px solid #31d493;
    border: 2px solid #31d493;
    border-radius: 15px;
    text-align: center;
  } 
  
  .footer-section .footer-icon::after{
    content: ' \25CF';
    font-size: 10px;
    text-align: center;
    justify-content: center;
    width: 2px;
    height: 2px;
    margin-top: 0px;
    padding-top: 0px;
    color:#31d493;
  }
  li.footer-section{
    margin-bottom: 0px;
  }
    
  
    }